.mbr-footer{
	width: 100%;
	background-color: $color-black;
	color: $color-white;
	padding: 4rem 4rem;

	.mbr-footer__content{
		width: 100%;
		letter-spacing: 0.02rem;

		h3{
			color: $color_white;
			font-size: $font_18px;
			font-weight: 500;
		}

		@include media700{
			width: 25%;
		}
	}

	.mbr-footer__details{
		margin-bottom: 1rem;
		font-size: 0.75rem;
		font-family: "Josephin Sans", sans-serif;

		&>div{
			display: flex;
			flex-direction: column;
			&:not(:last-of-type) {
				margin-bottom: 0.5rem;
			}

			*{
				color: $color-white;
			}
			span{
				font-weight: 400;
			}
		}
	}
	.mbr-footer__notice{
		font-size: 0.75rem;
	}
}