main#primary{
	article{
		header.page-header{
			
		}
	}

	&.home-page{
		header.page-header{
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			height: 100vh;
			display: none;
			
			&.desktop_header{
				display: block;
			}
			&.mobile_header{
				display: none;
			}

			@media screen and (max-width: 700px) {
				display: block;
				&.desktop_header{
					display: block;
				}
				&.mobile_header{
					display: block;
				}
			}
		}
	}
}