/*If content is added to a page outside of the soul blocks*/
.type-page {
	& > ul,
	& > ol,
	& > p,
	& > h2,
	& > h3,
	& > h4,
	& > h5 {
		width: 680px;
		max-width: 90vw;
		margin-left: auto;
		margin-right: auto;
	}
}

.if_content:empty {
	display: none;
}
/*Sidebar*/
.content_wrapper {
	max-width: 800px;
	width: 100%;
	order: 2;
	@include media1000 {
		order: unset;
	}
}
#nav_select {
	margin-bottom: 2rem;
	width: calc(100vw - 2 * var(--margin));
	padding: 1rem;
}

.sidebar {
	display: none;

	@include media1200 {
		nav.sub-nav {
			display: initial;
		}
		.mobile_only {
			display: none !important;
		}
		order: unset;
		display: flex;
		flex-direction: column;
		grid-column: 2/3;
		grid-row: 1/4;
		width: max-content;
	}
	h3 {
		padding-bottom: 1rem;
		margin-bottom: 0;
		font-size: 1rem;
	}
	.sub-nav {
		ul {
			list-style: none;
			padding-left: 0;
			margin-left: 0;
			li {
				padding-bottom: 1rem;
				padding-top: 1rem;
				font-weight: bold;
				a {
					text-decoration: none;
					font-weight: bold;
					width: 100%;
				}
			}
		}
	}
}

.nav-item {
	a {
		position: relative;
		padding-right: 2rem;
		width: fit-content;
		display: block;
		font-size: 1rem;
		font-weight: bold;
		&::after {
			content: "";
			height: 0.8rem;
			width: 1.2rem;
			display: block;
			top: calc(50% - 0.4rem);
			right: 0;
			background-image: url(../assets/arrow.svg);
			background-size: contain;
			position: absolute;
			background-repeat: no-repeat;
			transition: transform var(--transition) ease;
		}
		&:hover::after {
			transform: translateX(0.2rem);
			@media (prefers-reduced-motion: reduce) {
				transform: none;
			}
		}
	}
	&.active a {
		&:hover {
		}
		&::after {
			content: none;
		}
	}
}

.timeline-horizontal {
	.timeline-slide-image-text-container {
		min-width: 100%;
	}
}

.timeline-vertical {
	.timeline-slide {
		&.highlight {
			.timeline-slide-title {
				&::before {
					@include media1200 {
						left: -1rem;
						top: 50%;
						transform: rotate(270deg) translateX(50%);
					}
				}
			}
			.timeline-slide-year {
				justify-self: end;
				@include media1200 {
					text-align: right;
				}
			}
		}
		&.tertiary {
			.timeline-slide-title {
				&::before {
					@include media1200 {
						right: -1rem;
						top: 50%;
						transform: rotate(90deg) translateX(-50%);
						left: unset;
					}
				}
			}
			.timeline-slide-year {
				justify-self: start;
			}
			.timeline-slide-image-text-container {
				justify-self: end;
			}
		}
		.timeline-slide-title {
			margin-top: 0;
		}
		.timeline-slide-image-text-container {
			max-width: 472px;
			margin-top: 1rem;
			width: 100%;
			@include media1200 {
				margin-top: 0;
			}
		}
		.timeline-slide-year {
			max-width: 472px;
			align-self: start;
			margin-top: 6px;
		}

		@include media1200 {
			grid-template-columns: 1fr 5rem 1fr;
			display: grid;
			&.highlight {
				.timeline-slide-year {
					grid-column: 1/2;
				}
				.timeline-slide-image-text-container {
					grid-column: 3/4;
				}
			}
			&.tertiary {
				.timeline-slide-year {
					grid-column: 3/4;
					grid-row: 1/2;
				}
				.timeline-slide-image-text-container {
					grid-column: 1/2;
					grid-row: 1/2;
				}
			}
			.timeline-slide-icon {
				grid-column: 2/3;
				margin: 0 auto;
				align-self: start;
			}
		}
	}
}

.timeline-vertical {
	position: relative;
	margin-top: 3rem;
	&::before {
		content: "";
		display: block;
		position: absolute;
		background-color: $color_highlight;
		width: 3px;
		height: 100%;
		left: 50%;
	}
	.timeline-slide {
		margin-bottom: 2rem;
		&:first-of-type {
			padding-top: 4rem;
			&::before {
				content: "";
				display: block;
				background-color: #cd962d;
				position: absolute;
				border-radius: 50%;
				width: 13px;
				height: 13px;
				top: 0;
				left: 50%;
				transform: translateX(-40%);
			}
		}
		&:last-of-type {
			padding-bottom: 16rem;
			&::after {
				content: "";
				display: block;
				background-color: #cd962d;
				position: absolute;
				border-radius: 50%;
				width: 13px;
				height: 13px;
				bottom: 0;
				left: 50%;
				transform: translateX(-40%);
			}
		}
		.timeline-slide-info {
			position: relative;
			z-index: 99;
		}
		.timeline-slide-year {
			text-align: center;
			width: fit-content;
			background-color: $color_body;
			z-index: 9;
			margin: 0 auto;
			@include media1200 {
				text-align: unset;
				margin: 0;
				width: 100%;
			}
		}
		.timeline-slide-title {
			&::before {
				transform: translateX(-45%);
			}
		}
	}
}

//placeholder image
.timeline-slide.placeholder {
	.timeline-slide-image.container.container--fourthree {
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: radial-gradient(circle, #cccccc, #2c2929);
		svg {
			width: 50%;
		}
	}
}
.timeline-slide {
	a.timeline-repeater-link {
		color: $color_body;
		&:visited {
			color: $color_body;
		}
	}
	&.highlight {
		a.timeline-repeater-link.find_out_more.underline::after {
			background-color: $color_highlight;
		}
	}
	&.tertiary {
		a.timeline-repeater-link.find_out_more.underline::after {
			background-color: $color_tertiary;
		}
	}
}

article h3 {
	font-family: $body;
	font-weight: 600;
}

.content_layout aside,
#primary .grid_content aside {
	width: 100%;
	@include media1000 {
		justify-self: end;
		width: 400px;
		max-width: 90vw;
	}
}

