.acf-field-67a18df38d377 img {
    background-color: #24595C;
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.acf-field-67a18df38d377 label {
    display: flex!important;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}