$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color_black: #000;
$color_menu: #011d21;
$color_grey: #e2e1d9;
$color_body: #000;
$color_primary: #23595c;
$color_white: #fff;
$color_bg: #f7f7f7;
// $color_secondary: #295662;
$color_secondary: #ffdd00;
$color_tertiary: #b1d1db;
$color_highlight: #ffdd00;
$color_emphasis: #5497a9;
$yellow: $color_secondary;

$color_teal: #52757c;
$color_soft_blue: #aeccd1;
$color_carousel_grey: #edece9;

$color_body: #000;
$color_grey: #6e6e6e;
$color_light_grey: #9e9e9e;
$color_dark_grey: #1d1d1b;
$color_white: #fff;
$color_bg: #f7f7f7;
$color_teal: #00c4b3;
$bg_teal: #00c4b3;
$bg_yellow: #ffdd00;
$bg_orange: #ff671d;
$bg_red: #f93549;
$bg_beige: #fffbe0;
$bg_pink: #edbddb;
$bg_grey: #a2a9bf;
$bg_blue: #97d1dc;
$bg_maroon: #8e1537;

$primary: $color_primary;
$secondary: $color_secondary;
$tertiary: $color_tertiary;
$highlight: $color_highlight;

$color_error: #750000;

$color_bg_modal: rgba(0, 0, 0, 0.8);
