// stylelint-disable value-keyword-case
$font__main: "Centra No1", sans-serif;
// stylelint-enable value-keyword-case
$font__code: mono, sans-serif;
$font__pre: mono, sans-serif;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

/*Font Weights*/

$font_regular: 400;
$font_medium: 500;
$font_semibold: 600;
$font_bold: 700;
$font_extrabold: 800;
$font_black: 900;
// Font sizes 
$font_14px : 14px;
$font_15px: 15px;
$font_16px: 16px;
$font_18px: 18px;
$font_20px: 20px;
$font_22px: 22px;
$font_24px: 24px;
$font_28px: 28px;
$font_32px: 32px;
$font_33px: 33px;
$font_36px: 36px;
$font_38px: 38px;
$font_40px: 40px;
$font_42px: 42px;
$font_44px: 44px;
$font_48px: 48px;
$font_58px: 58px;
$heading_alt: 2rem;

$body: $font__main;
$heading: "Centra No1", sans-serif;

